body{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
.top-bar{
    width: 100vw;
}
header{
    background-color: #f9f9f9;
    width: 100%;
    height: 8vh;
    border-color: #cccccc;
    border-style: none none solid none;
    border-width: 4px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
header nav{
    z-index: 5;
    margin: 10px 0 0;
    float: right;
    padding-left: 20vw;
}
header nav ul{
    display: inline-flex;
    width: max-content;

    margin: 0;
    padding: 0;
    padding-top: 1vh;
    padding-right: 15vw;
    
    list-style: none;
}
header nav ul li{
    width: auto;
    padding-top: 1vh;
    padding-right: 30px;
}
header nav ul li a {
    font-size: 1.2em;
}
.icon {
    height: 6vh;
    padding-top: 1vh;
    padding-left: 20vw;
}
.main{
    width: 60vw;
    margin-left: 20vw;
    
    padding-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main h1{
    color: #65a2c4;
    font-size: 2em;
}

.main form{
    width: 40vw;

}

.input-wrapper{
    padding-bottom: 10px;
}

.input-wrapper .text-input{
    height: auto;
    width: 28vw;
    margin: 0;
    font-size: 1.4em;
    padding: 10px;
}
.input-wrapper .button-input{
    height: auto;
    width: 9.5vw;

    margin-left: -6px;
    padding: 10px;
    background-color: #a00000;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.4em;
}
#advanced-options{
    padding-top: 20px;
    margin:10px;
    font-size: 1.3em;
}

.content{
    margin-bottom: 10vh;
}


.main-header{
    text-align: center;
    width: 60vw;
}
#main-para{
    margin-left: 5vw;
    width: 50vw;
}

#main-wrapper{
    width: 100vw;
}

#newsletter{
    background-color: #97dffc;
    height: 42vh;
    width: 100vw;
    margin-left: 0;
    
    align-content: center;
}
.news-form-wrapper{
    display: inline;
    margin-left: 40vw;
    align-content: center;
    flex-wrap: wrap;
    width: 60vw;
    padding-left: -vw;
}

#news-form{
    margin-left: 20vh;
    width: 40vw;
}

#copyright{
    height: 20vh;
    margin-left: 0;
    width: 100vw;
    display: flex;
    background-color: #65a2c4;
}
#social-wrapper{
    width: 15vw;
    display: flex;
}
#social-img{
    width: 70px;
    height: auto;
    padding-left: 10px;
    
}